@using Chessfifi.EndPoint.Models.Common;
@{
    ViewData["Title"] = "Chess";
}

@{
    var user = ViewBag.User as UserViewModel;
    var success = user != null && user.IsEmailConfirmed;
}

@if (!success)
{
    <label>برای شروع بازی باید نسخت ایمیل خود را تایید نمایید</label>
    <br />
    <a href="/Identity/Account/Manage/Email">برو به تنظیمات ایمیل</a>
    return;
}
<!--chess script-->
<script src="~/js/chess.js" asp-append-version="true"></script>
<script src="~/js/fields.js" asp-append-version="true"></script>

<div class="container-fluid">
    <div class="row">
        <div id="gameBlock" class="game-block bg-dark col-8">
            <!--search game block-->
            <div id="searchBlock" class="game-search">
                <img src="/img/pieces/play.png" class="search-mode selected-mode" data-value="classic" title="Classic Chess" onclick="setMode(this)">
                @* <img src="/img/pieces/dragon-mode.png" class="search-mode" data-value="dragon" title="Add-on 'Dragon'" onclick="setMode(this)"> *@
                <button class="btn btn-success hide-is-search" onclick="startSearch()">جستجوی حریف . . . </button>
                <div class="show-is-search">
                    <button class="btn btn-warning" onclick="stopSearch()">چشم پوشی از جستجو</button>
                    <label>
                        Looking for a game
                        <span id="searchSpan"></span>
                        <span id="searchSpan2"></span>
                    </label>
                </div>
            </div>

            <!--chess block-->
            <div id="fieldBlock" class="field-block">

                <div class="bg-dark text-white game-status">
                    <label class="bg-dark text-success game-my-step hidden">Your TURN</label>
                    <label class="bg-dark text-danger game-not-my-step hidden">Wait! It is the opponent's TURN</label>

                    <label class="bg-dark text-white game-my-win hidden">You WON!!</label>
                    <label class="bg-dark text-white game-not-my-win hidden ">You LOSE.</label>
                    <label class="bg-dark text-white game-draw hidden">Draw</label>
                </div>

                <div id="field" class="game-field text-light bg-dark">
                </div>

                <div class="bg-dark text-white game-status">
                    <div></div>
                    <label class="game-enemy-name hidden"></label>
                    <div></div>
                    <label class="game-finish-reason hidden"></label>
                </div>
                <div id="actionBlock" class="game-actions">
                    <button class="btn btn-warning" onclick="surrenderInitial()">Surrender</button>
                    <a id="gameLink" class="hidden btn btn-info">Game LINK</a>
                </div>
            </div>

            <!--history block-->
            <div id="historyBlock" class="history-block text-light bg-dark"></div>

        </div>
        <!--begin chat-->
        <div class="col-4 bg-black text-light">
            <div class="row p-1">
                <div class="col-3">User :</div>
                <div class="col-9" id="userInput" data-username="@User.Identity.Name">
                    <label id="userInput">@User.Identity.Name</label>
                </div>
            </div>
            <div class="row p-1">
                <div class="col-3">Message:</div>
                <div class="col-9"><input type="text" class="w-100" id="messageInput" /></div>
            </div>
            <div class="row p-1">
                <div class="col-sm text-end">
                    <input type="button" id="sendButton" value="Send Message" />
                </div>
            </div>
            <div class="row p-1">
                <div class="col-12">
                    <hr />
                </div>
            </div>
            <div class="row p-1">
                <div class="col-12">
                    <ul id="messagesList"></ul>
                </div>
            </div>
        </div>
        <!--end chat-->
    </div>
</div>
<!--begin model add piece-->
<div id="pawnTransformPieceModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Select a shape</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pawn-transform-piece-select">
                <img class="hidden-black" src="~/img/pieces/320/queen-black.png" onclick="selectPawnTransformPiece('queen')">
                <img class="hidden-black" src="~/img/pieces/320/knight-black.png" onclick="selectPawnTransformPiece('knight')">
                <img class="hidden-black" src="~/img/pieces/320/bishop-black.png" onclick="selectPawnTransformPiece('bishop')">
                <img class="hidden-black" src="~/img/pieces/320/rook-black.png" onclick="selectPawnTransformPiece('rook')">

                <img class="hidden-white" src="~/img/pieces/320/queen-white.png" onclick="selectPawnTransformPiece('queen')">
                <img class="hidden-white" src="~/img/pieces/320/knight-white.png" onclick="selectPawnTransformPiece('knight')">
                <img class="hidden-white" src="~/img/pieces/320/bishop-white.png" onclick="selectPawnTransformPiece('bishop')">
                <img class="hidden-white" src="~/img/pieces/320/rook-white.png" onclick="selectPawnTransformPiece('rook')">
            </div>
        </div>
    </div>
</div>
<!--end model add piece-->

<div id="surrenderModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm the action</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                با پذیرفتن شکست، بازی را واگذار خواهی نمود
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" onclick="surrender()"><i class="fa fa-check"></i>پذیرش شکست</button>
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><i class="fa fa-times-circle"></i>چشم پوشی</button>
            </div>
        </div>
    </div>
</div>

<div id="confirmStartGameModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">حریف پیدا شد</h5>
            </div>
            <div class="modal-body">
                تایید شروع بازی
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" onclick="confirmStart(true)"><i class="fa fa-check"></i>شروع بازی</button>
                <button type="button" class="btn btn-sm btn-secondary" onclick="confirmStart(false)"><i class="fa fa-times-circle"></i>چشم پوشی</button>
            </div>
        </div>
    </div>
</div>

<!--chat script-->
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>